<div>
  <div {{on "click" this.toggle}}>
    {{shorten @request.request.url}}
  </div>

  {{#if this.open}}
  <h3>Request</h3>
  <Headers @headers={{@request.request.headers}} />
  <ul>
    <li>
      Method: {{@request.request.method}}
    </li>
  </ul>

  {{#each @request.responses as |r|}}
  <h3>Response</h3>
  <Response @response={{r.response}} />
  {{/each}}
  {{/if}}
</div>