<div>
  <div>
    URL: {{shorten @response.url}}
  </div>
  <ul>
    <li>
      Protocol: {{@response.protocol}}
    </li>
    <li>
      Mime-Type: {{@response.mimeType}}
    </li>
    <li>
      IP: {{@response.remoteIPAddress}}
    </li>
    <li>
      Port: {{@response.remotePort}}
    </li>
    <li>
      Status: {{@response.status}}
    </li>
    <li>
      Status Text: {{@response.statusText}}
    </li>
    <li>
      Security State: {{@response.securityState}}
    </li>
  </ul>
  <Headers @headers={{@response.headers}} />
  <SecurityDetails @security={{@response.securityDetails}} />
</div>