{{#if @security}}
<div>
  <ul>
    <li>
      Security Compliance: {{@security.certificateTransparencyCompliance}}
    </li>

    <li>
      Cipher: {{@security.cipher}}
    </li>

    <li>
      Issuer: {{@security.issuer}}
    </li>
    <li>
      Protocol: {{@security.protocol}}
    </li>
    <li>
      Subject Name: {{@security.subjectName}}
    </li>
    <li>
      Valid From: {{@security.validFrom}}
    </li>
    <li>
      Valid To: {{@security.validTo}}
    </li>
  </ul>

  <ul>
    {{#each @security.sanList as | item |}}
    <li>
      {{item}}
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}