{{page-title "Events"}}
URL: {{this.model.url}}
{{#each-in this.model.events as |key value|}}
<div>
  <h3>{{value.name}}</h3>
  <p>{{json value.payload}}</p>
</div>
{{/each-in}}
{{log this.model}}
{{outlet}}