<BaseImage @imageData={{this.model.image}} />

<div>
  <ul>
    <li>
      <LinkTo @route="analysis.details.urls">Details</LinkTo>
    </li>
    <li>
      <LinkTo @route="analysis.details.ips">IPs</LinkTo>
    </li>
      <li>
      <LinkTo @route="analysis.details.events">Events</LinkTo>
    </li>
  </ul>
</div>

<div>
{{outlet}}

</div>